body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/wp3102516.webp');
    background-size: 100vw 100vh;
    gap: 12vh;
}

h1 {
    margin-top: 5%;
    color: rgb(216, 69, 155);
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vh;
    font-weight: bold;
    margin: 0px 50px;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 75%;
    margin: 0 auto;
}

.playerScore-container, .computerScore-container, .score-container{
    color: rgb(216, 69, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.container{
    width: 45%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    background-color: rgba(94, 217, 255, 0.493);
    border-radius: 5px;
    gap: 30px;
}

button {
    padding: 2%;
    border: 2px solid rgb(216, 69, 155);
    border-radius: 4px;
    background-color: rgb(46, 46, 177);
    color: rgb(216, 69, 155);
    font-weight: bold;
    flex: 1 1 0%;
}

.canvas-container {
    display: flex;
    height: 150px;
    justify-content: space-around;
    gap: 125px;
    padding: 0px 50px;
} 

.player-canvas, .computer-canvas {
    flex: 1 0 0%;
    background-color: rgba(46, 46, 177, 0.8);
    border: 2px solid rgb(216, 69, 155);
    border-radius: 4px;
    position: relative;
}



