body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./img/wp3102516.webp');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    gap: 75px;
}

h1 {
    color: rgb(216, 69, 155);
}

.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
}

.button-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.playerScore-container, .computerScore-container, .score-container{
    color: rgb(216, 69, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(94, 217, 255, 0.493);
    justify-content: center;
    border-radius: 5px;
    
}
